.card-main {
    width: 100%;
    height: 600px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    z-index: 3;
    box-shadow: 0 0 50px #bbb;
    background: white;
}

.card-title {
    width: 100%;
    height: 25%;
    font-size: 45px;
    padding: 50px;
    text-align: center;
    border: 1px solid black;
}

.card-body {
    width: 60%;
    height: 75%;
    padding: 20px;
    font-size: 30px;
    position: relative;
    border: 1px solid black;
}

.card-body p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
}

.card-image {
    width: 40%;
    height: 75%;
}