.carousel {
    position: relative;
    height: 600px;
    width: 75%;
    margin: 0 auto;
}

.win .carousel {
    height: 450px;
}

.carousel__track-container {
    background: transparent;
    padding: 10px;
}

.win .carousel__track-container {
    padding: 7.5px;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    filter: opacity(0.6) brightness(110%);
    cursor: pointer;
}

.carousel__button--left {
    left: -150px;
}

.win .carousel__button--left {
    left: -112.5px;
}

.carousel__button--right {
    right: -150px;
}

.win .carousel__button--right {
    right: -112.5px;
}