.title {
    text-align: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../public/background2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.85;
}

.title_content {
    opacity: 1;
}

.title p.name {
    font-size: 60px;
    color: white;
}

.title p.sub {
    font-size: 45px;
    color: white;
}

.about_lang_box {
    margin: 0px 40px;
    padding: 0px 30px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.vline {
    border: 2px solid black;
    height: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.about__left {
    font-size: 30px;
    width: 65%;
    padding-right: 7%;
    line-height: 1.5;
}

.about__right {
    font-size: 60px;
    width: 35%
}

.lang__left {
    font-size: 60px;
    width: 34%;
}

.lang__right {
    font-size: 25px;
    width: 66%;
}

.lang__right__ele {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.hobby-proj-region {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hobby-proj-title {
    margin-bottom: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
}
